spring:
  application:
    name: Petcare Project for DS

  datasource:
    url: jdbc:postgresql://dpg-d5cjmqjuibrs739i6oq0-a.oregon-postgres.render.com:5432/dbname_paya?sslmode=require
    username: user
    password: MLpCiDHEuM7tymMjmVyklNLhgt94ZJN4
    driver-class-name: org.postgresql.Driver
    
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true